---
title: Welcome to Middleman-bunbun
---
.section.drinking
.col-sm-8.bunbun
  .embed-responsive.embed-responsive-16by9
    %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/9QuMdO0Wv50?autoplay=1", :width => "560"}
